@model IEnumerable<E_Shop.EF.Catagory>

@{
    ViewBag.Title = "ShowCatagory";
}

<h2>ShowCatagory</h2>

<p>
    @Html.ActionLink("Create New", "AddCatagories")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCatagory", new { id=item.Id }) |
            @Html.ActionLink("Details", "CatagoryDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
